.footer {
  background-color: rgb(57, 173, 57);
  height: 124px;
  margin: 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

@media screen and (max-width: 517px) {
    .footer {
        height: 124px;
        font-size: 1rem;
    }
}
