.input {
    width: 20%;
    height: 50%;
    border: 3px solid black;
    border-radius: 10px;
    background-color: aliceblue;
  }

  .invalid--input {
    width: 20%;
    height: 50%;
    border: 3px solid black;
    border-radius: 10px;
    animation-name: invalid-animation;
    animation-duration: 1s;
  }

  @keyframes invalid-animation {
    0% {
        background-color: aliceblue;
    }

    50% {
        background-color: rgb(236, 32, 66);
        transform: scaleY(1.5) scaleX(1.5);
    }

    100% {
        background-color: aliceblue;
    }
}